html,body {
	background-color:#212121;
	padding:0;
	margin:0;
}
.downb {
	position:fixed;
	margin:0 auto;
	bottom:40px;
	right:24px;
}
.downb2 {
	position:fixed;
	margin:0 auto;
	bottom:40px;
	left:24px;
}
.downb a,.downb2 a {
	cursor:pointer;
	top:9px;
	position:relative;
	display:block;
	width:100px;
	height:100px;
	border-radius:50%;
	background:#212121;
	text-align:center;
	margin:0 auto;
	font-size:0;
	-webkit-transition:all .3s;
	-o-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
}
.downb a img,.downb2 a img {
	padding:25px;
}
.downb a:hover,.downb2 a:hover {
	background:rgb(77,77,77);
	top:4px;
}
.header {
	height:700px;
	width:100%;
	background-color:#212121;
	background-position:center center;
	background-size:cover;
}
#header_text {
	margin:0 auto;
	padding:3px;
	position:relative;
	color:#212121;
	background-color:rgb(225,225,225);
	text-align:center;
	-webkit-transition:all .8s;
	-o-transition:all .8s;
	-moz-transition:all .8s;
	transition:all .8s;
	top:100px;
	width:75%;
	border-radius:40px;
}
#header_text:hover {
	color:rgb(225,225,225);
	background-color:#212121;
	top:112px;
}
#header_text h1 {
	font-size:70px;
	font-family:'Indie Flower',cursive,sans-serif;
}
#header_text h2 {
	font-size:36px;
	font-family:'Shadows Into Light',cursive,sans-serif;
}
#nav {
    height:60px;
    width:670px;
    background:none;
    position:relative;
    float:left;
    z-index:2;
}
#nav .nav_ul {
    width:670px;
    height:57px;
    padding-top:3px;
    float:left;
    background:left top no-repeat;
    background-size:672px 60px;
}
ul, menu, dir {
    display:block;
    list-style-type:disc;
    -webkit-margin-before:1em;
    -webkit-margin-after:1em;
    -webkit-margin-start:0px;
    -webkit-margin-end:0px;
    -webkit-padding-start:40px;
}
#nav li, #nav li a {
    background:#212121;
    color:white;
    text-decoration:none;
}
#nav li {
    float:left;
    padding-right:1px;
    height:33px;
    line-height:33px;
    background:no-repeat 100% 0;
    font-weight:700;
    font-size:14px;
}
#nav li span {
    display: none;
}
.main {
	height:2580px;
	width:100%;
	background-color:#87CEFF;
	background-position:center center;
	background-size:cover;
}
#main_text {
	cursor:pointer;
	font-family:"Microsoft YaHei",sans-serif;
	opacity:1;
	background:#FFF;
	text-align:center;
	margin:0 auto;
    color:#FFF;
	padding:20px;
	top:75px;
	width:56%;
	border-radius:25px;
	position:relative;
	box-shadow:6px 9px 2px rgba(0,0,0,0.2);
	font-size:20px;
	font-weight:100;
	color:#212121;
	opacity:1;
	width:66%;
}
#main_text::after {
	content:'';
	position:absolute;
	bottom:-40px;
	width:0;
	height:0;
	border-width:20px;
	border-style:solid;
	border-color:#FFF transparent transparent;
}
#main_text2,#main_text3,#main_text4,#main_text5 {
	cursor:pointer;
	font-family:"Microsoft YaHei",sans-serif;
	opacity:0.4;
	background:#FFF;
	text-align:center;
	margin:75px auto;
    color:#FFF;
	padding:20px;
	top:75px;
	width:56%;
	border-radius:25px;
	position:relative;
	box-shadow:6px 9px 2px rgba(0,0,0,0.2);
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-moz-transition:all 1s;
	transition:all 1s;
}
#main_text2::after,#main_text3::after,#main_text4::after,#main_text5::after {
	content:'';
	position:absolute;
	bottom:-40px;
	width:0;
	height:0;
	border-width:20px;
	border-style:solid;
	border-color:#FFF transparent transparent;
}
#main_text2.togg,#main_text3.togg,#main_text4.togg,#main_text5.togg{
	font-size:20px;
	font-weight:100;
	color:#212121;
	opacity:1;
	width:66%;
}
#main_text:hover,#main_text2:hover,#main_text3:hover,#main_text4:hover,#main_text5:hover {
	opacity:0.9;
}